In [24]:
# import os
import pandas as pd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
# master_df = pd.DataFrame()

# for file in os.listdir(os.getcwd()):
#     if file.endswith('.csv'):
#         master_df=master_df.append(pd.read_csv(file))
        
# master_df.to_csv('Master roster.CSV', index=False)

In [25]:
df=pd.read_csv('Master roster.CSV', sep=',')

In [26]:
df

,Unnamed: 0,Name,Weight_class,Class,Hometown,Highschool,Team
0,0,Errol Alden,Weight 285,Class Freshman,"Coralville, Iowa",Highschool West High,Buena Vista
1,1,Garret Bruce,Weight 174,Class Junior,NaN,NaN,Buena Vista
2,2,Jesus Ceja,Weight 174,Class Freshman,"Pharr, Texas",Highschool PSJA,Buena Vista
3,3,Maxwell Copeland,Weight 141,Class Freshman,"Beaumont, Calif.",Highschool Baumont,Buena Vista
4,4,Levy Cortez,Weight 141,Class Sophomore,NaN,NaN,Buena Vista
...,...,...,...,...,...,...,...
314,27,Cael Krueger,Weight: 184,Class: Freshman,"Denver, Iowa",Highschool: Denver,Wartburg
315,31,Brock Meyer,Weight: 197,Class: Junior,"Sumner, Iowa",Highschool: Sumner-Fredericksburg,Wartburg
316,51,Kobe Woods,Weight: 197,Class: Senior,"Mishawaka, Ind.",Highschool: Penn,Wartburg
317,5,Jordon Brandon,Weight: 285,Class: Senior,"Westland, Mich.",Highschool: John Glenn,Wartburg
318,13,Damari Dancy,Weight: 285,Class: Freshman,"Portage, Ind.",Highschool: Portage,Wartburg

In [27]:
df.head()

,Unnamed: 0,Name,Weight_class,Class,Hometown,Highschool,Team
0,0,Errol Alden,Weight 285,Class Freshman,"Coralville, Iowa",Highschool West High,Buena Vista
1,1,Garret Bruce,Weight 174,Class Junior,NaN,NaN,Buena Vista
2,2,Jesus Ceja,Weight 174,Class Freshman,"Pharr, Texas",Highschool PSJA,Buena Vista
3,3,Maxwell Copeland,Weight 141,Class Freshman,"Beaumont, Calif.",Highschool Baumont,Buena Vista
4,4,Levy Cortez,Weight 141,Class Sophomore,NaN,NaN,Buena Vista

In [28]:
# Nominatim geocoder for OpenStreetMap data with RateLimiter
geocoder = RateLimiter(Nominatim(user_agent='tutorial').geocode, min_delay_seconds=1)
df['Hometown'] = df['Hometown'].apply(geocoder)

# add latitude and longitude to dataframe
df['Latitude'] = df['Hometown'].apply(lambda loc: loc.latitude if loc else None)
df['Longitude'] = df['Hometown'].apply(lambda loc: loc.longitude if loc else None)

df

RateLimiter caught an error, retrying (0/2 tries). Called with (*('High School Somerset Academy',), **{}).
Traceback (most recent call last):
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 445, in _make_request
    six.raise_from(e, None)
  File "<string>", line 3, in raise_from
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 440, in _make_request
    httplib_response = conn.getresponse()
  File "C:\Users\Kevin\anaconda3\lib\http\client.py", line 1347, in getresponse
    response.begin()
  File "C:\Users\Kevin\anaconda3\lib\http\client.py", line 307, in begin
    version, status, reason = self._read_status()
  File "C:\Users\Kevin\anaconda3\lib\http\client.py", line 268, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "C:\Users\Kevin\anaconda3\lib\socket.py", line 669, in readinto
    return self._sock.recv_into(b)
  File "C:\Users\Kevin\anaconda3\lib\ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "C:\Users\Kevin\anaconda3\lib\ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 699, in urlopen
    httplib_response = self._make_request(
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 447, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 336, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Kevin\anaconda3\lib\site-packages\requests\adapters.py", line 439, in send
    resp = conn.urlopen(
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 783, in urlopen
    return self.urlopen(
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 783, in urlopen
    return self.urlopen(
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 755, in urlopen
    retries = retries.increment(
  File "C:\Users\Kevin\anaconda3\lib\site-packages\urllib3\util\retry.py", line 574, in increment
    raise MaxRetryError(_pool, url, error or ResponseError(cause))
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=High+School+Somerset+Academy&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Kevin\anaconda3\lib\site-packages\geopy\adapters.py", line 448, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\requests\sessions.py", line 555, in get
    return self.request('GET', url, **kwargs)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\requests\sessions.py", line 542, in request
    resp = self.send(prep, **send_kwargs)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\requests\sessions.py", line 655, in send
    r = adapter.send(request, **kwargs)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\requests\adapters.py", line 516, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=High+School+Somerset+Academy&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Kevin\anaconda3\lib\site-packages\geopy\extra\rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
  File "C:\Users\Kevin\anaconda3\lib\site-packages\geopy\extra\rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\geopy\geocoders\nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\geopy\geocoders\base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\geopy\adapters.py", line 438, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "C:\Users\Kevin\anaconda3\lib\site-packages\geopy\adapters.py", line 460, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=High+School+Somerset+Academy&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

,Unnamed: 0,Name,Weight_class,Class,Hometown,Highschool,Team,Latitude,Longitude
0,0,Errol Alden,Weight 285,Class Freshman,"(Coralville, Johnson County, Iowa, 52241, Unit...",Highschool West High,Buena Vista,41.676404,-91.580448
1,1,Garret Bruce,Weight 174,Class Junior,"(Nanno, Ville d'Anaunia, Comunità della Val di...",NaN,Buena Vista,46.314475,11.048029
2,2,Jesus Ceja,Weight 174,Class Freshman,"(Pharr, Hidalgo County, Texas, 78577, United S...",Highschool PSJA,Buena Vista,26.194796,-98.183622
3,3,Maxwell Copeland,Weight 141,Class Freshman,"(Beaumont, Riverside County, California, 92223...",Highschool Baumont,Buena Vista,33.929992,-116.976309
4,4,Levy Cortez,Weight 141,Class Sophomore,"(Nanno, Ville d'Anaunia, Comunità della Val di...",NaN,Buena Vista,46.314475,11.048029
...,...,...,...,...,...,...,...,...,...
314,27,Cael Krueger,Weight: 184,Class: Freshman,"(Denver, Bremer County, Iowa, 50622, United St...",Highschool: Denver,Wartburg,42.671375,-92.337216
315,31,Brock Meyer,Weight: 197,Class: Junior,"(Sumner, Bremer County, Iowa, United States, (...",Highschool: Sumner-Fredericksburg,Wartburg,42.848886,-92.097076
316,51,Kobe Woods,Weight: 197,Class: Senior,"(Mishawaka, Saint Joseph County, Indiana, 4654...",Highschool: Penn,Wartburg,41.661164,-86.180703
317,5,Jordon Brandon,Weight: 285,Class: Senior,"(Westland, Wayne County, Michigan, United Stat...",Highschool: John Glenn,Wartburg,42.323806,-83.400532
318,13,Damari Dancy,Weight: 285,Class: Freshman,"(Portage, Porter County, Indiana, United State...",Highschool: Portage,Wartburg,41.575871,-87.176146

In [29]:
df.to_csv('Roster Geo.csv')